<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="schunk_lwa4p">

  <xacro:macro name="schunk_lwa4p_ros2_control" params="
               name
               use_mock_hardware:=^|false
               mock_sensor_commands:=^|false
               sim_gazebo_classic:=^|false
               sim_gazebo:=^|false
               simulation_controllers
               bus_config
               master_config
               can_interface
               master_bin">

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_mock_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="mock_sensor_commands">${mock_sensor_commands}</param>
        </xacro:if>
        <xacro:if value="${sim_gazebo_classic}">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
        <xacro:if value="${sim_gazebo}">
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_mock_hardware or sim_gazebo_classic or sim_gazebo}">
          <plugin>canopen_ros2_control/Cia402System</plugin>
          <param name="bus_config">${bus_config}</param>
          <param name="master_config">${master_config}</param>
          <param name="can_interface">${can_interface}</param>
          <param name="master_bin">"${master_bin}"</param>
        </xacro:unless>
      </hardware>

      <joint name="${name}_joint_1">
        <command_interface name="position">
          <param name="min">-2.95</param>
          <param name="max">2.95</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${name}_joint_2">
        <command_interface name="position">
          <param name="min">-2.95</param>
          <param name="max">2.95</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${name}_joint_3">
        <command_interface name="position">
          <param name="min">-2.69</param>
          <param name="max">2.69</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${name}_joint_4">
        <command_interface name="position">
          <param name="min">-2.95</param>
          <param name="max">2.95</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${name}_joint_5">
        <command_interface name="position">
          <param name="min">-2.95</param>
          <param name="max">2.95</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${name}_joint_6">
        <command_interface name="position">
          <param name="min">-2.95</param>
          <param name="max">2.95</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
    </ros2_control>

    <xacro:if value="$(arg sim_gazebo_classic)">
      <!-- Gazebo plugins -->
      <gazebo reference="world">
      </gazebo>
      <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <parameters>${simulation_controllers}</parameters>
        </plugin>
      </gazebo>
    </xacro:if>

    <xacro:if value="$(arg sim_gazebo)">
      <!-- Gazebo plugins -->
      <gazebo reference="world">
      </gazebo>
      <gazebo>
        <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>${simulation_controllers}</parameters>
          <controller_manager_node_name>${name}_controller_manager</controller_manager_node_name>
        </plugin>
      </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>
